#timerspace {
    margin: 1em;
    height: 93%;
    background: $secondary-color;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #timer {
        #duration {
            font-size: 70px;
            font-weight: bold;
            width: 200px;
            text-align: center;
        }
    }

    #timercalls {
        img {
            height: 100px;
            padding: 0.5em;
            cursor: pointer;
        }
    }
}