$main-color: rgb(91, 150, 145);
$secondary-color: rgb(211, 193, 115);
$border-color: rgb(209, 170, 87);
$accent-color: rgb(53, 97, 105);
$stamp-color: radial-gradient(circle, rgba(211,193,115,1) 35%, rgba(53,97,105,1) 100%);
$gradient-border: linear-gradient(120deg, rgba(209,170,87,1) 0%, rgba(53,97,105,1) 100%);